# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Ignore packaged files
/lib
/dist
*.tgz

# Ignore built input service worker
public/InputServiceWorker.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
.vscode
# script outputs
translationIssues.txt
# Ignore output of local pip install when building the tar
src/backend/workers/python/python_package/
src/backend/workers/python/python_package.tar.gz.load_by_url

__screenshots__/
