@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font stack used by Dodona */
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.cm-scroller, .cm-gutters { /* Min height of the editor via both gutter and scroller */
  min-height: 20vh !important;
}
.cm-content, #code-output-area {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}
