name: Test

on:
  push:
  workflow_call:

jobs:
  javascript:
    name: JavaScript
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
        cache: yarn
    - name: Install dependencies
      run: |
        yarn install
        yarn playwright install
    - name: Build service worker
      run: |
        yarn build:sw
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    - name: Build python backend
      run: |
        yarn setup
    - name: Test
      run: |
        yarn test
